
footer {
    float: right;
}

h1,h3{
    color:saddlebrown;
    text-decoration-line: underline;
    background-color:lightgray;
}
div#links a{
    color: goldenrod;
}
div#comments p{
    background-color: yellow;
    font-style:italic;
}