
footer{
    float: right;
}

h1,h3{
    color:rgb(155, 21, 233);
    text-decoration-line: underline;
    background-color:lightgray;
}
div#links a{
    color: goldenrod;
}
div#links{
    border: none;
}

div#comments p{
    background-color: yellow;
    font-style:italic;
}
div{
    border-bottom: solid;
    border-bottom-color: lightsalmon;
}

body{
    background-image: url(../recipeImages/background.gif);
}